<div class="container">
   <div class="edit">
    <div>
      <h1><%= @task.title %><h1>
    </div>
    <div id="button">
     <!-- <%= button_to "Edit a task", edit_task_path, :method => :get %> -->
     <p> <%= link_to " Edit a task", edit_task_path, class: "fas fa-pencil-alt" %></p>
    </div>
  </div>
  <h3><%= @task.details %></h3>

  <div>
    <%= check_box("tag", tag.id, {checked: @task.completed}) %>
    <% if @task.completed == true %>
      This task is completed
    <% else %>
      This task is not completed yet
    <% end %>
  </div>


  <div>
    <%= link_to "Back to list", tasks_path %>
  </div>
</div>
